<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Untitled</title>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="http://kendo.cdn.telerik.com/2015.2.805/js/angular.min.js"></script>
    <script src="http://oemobiledemo.progress.com/jsdo/progress.jsdo.min.js"></script>
    <style>
        table {
            border: 1px solid black;
            border-collapse: collapse;
            float: left;
        }

        table td {
            border: 1px solid black;
        }

        table tr {
            cursor: pointer;
        }

        .selected {
            background: green;
        }

        form {
            float: left;
        }

    </style>
  </head>
  <body ng-app="app" ng-controller="Main">
      <div ng-hide="customers">Loading ...</div>
      <table ng-show="customers">
          <caption>Click a table row</caption>
          <tr ng-repeat="customer in customers" ng-click="selectCustomer(customer)" class="{{selection === customer ? 'selected': ''}}">
              <td>{{customer.CustNum}}</td>
              <td>{{customer.Name}}</td>
              <td>{{customer.State}}</td>
              <td>{{customer.Country}}</td>
          </tr>
      </table>
    <form ng-show="selection" ng-submit="save()">
        <fieldset>
            <legend>Details for {{selection.CustNum}}</legend>
            <div>
                <label for="Name">Name: </label><input ng-model="selection.Name" id="Name">
            </div>
            <div>
                <label for="Sate">State: </label><input ng-model="selection.State" id="Sate">
            </div>
            <div>
                <label for="Country">Country: </label><input ng-model="selection.Country" id="Country">
            </div>
            <div>
                <button type="submit">Save</button>
            </div>
        </fieldset>
    </form>
    <script>
      var serviceURI = 'http://oemobiledemo.progress.com/CustomerService';
      var catalogURI = 'http://oemobiledemo.progress.com/CustomerService/static/mobile/CustomerService.json';
      var resourceName = 'Customer';

      var session = new progress.data.Session();
      session.login(serviceURI, "", "");
      session.addCatalog(catalogURI);

      var jsdo = new progress.data.JSDO({ name: resourceName });

      var app = angular.module("app", []);

      app.controller("Main", ["$scope", MainController]);

      function MainController($scope) {

          jsdo.fill().done(function() {
              $scope.$apply(function() {
                  $scope.customers = jsdo.eCustomer.getData();
              });
          });

          $scope.selectCustomer = function(customer) {
              $scope.selection = customer;
          };

          $scope.save = function() {
              if ($scope.selection) {
                  var jsrecord = jsdo.eCustomer.findById($scope.selection._id);
                  jsrecord.assign($scope.selection);
                  jsdo.saveChanges();
              }
          };
      }
    </script>
  </body>
</html>
